<?xml version="1.0" encoding="UTF-8" ?>
<phpunit backupStaticAttributes="true"
         bootstrap="tests/bootstrap.php"
         colors="true"
         convertNoticesToExceptions="false"
         strict="true">
  <testsuites>
    <testsuite name="Monk ID PHP">
      <directory>tests/lib</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist>
      <directory suffix=".php">lib</directory>
    </whitelist>
  </filter>
  <logging>
    <log type="coverage-text" target="php://stdout" />
  </logging>
  <php>
    <ini name="display_errors" value="Off" />
  </php>
</phpunit>
